.footer__column-link {
  line-height: 18px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: white;
  display: flex;
  transition: opacity 1s ease;
}

.footer__column-link:hover {
  opacity: .6;
}