.digits {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.table {
  width: 1100px;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  margin: 20px 0 0 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}
