@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.kaufman {
  background-color: #1f1f1f;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top: 0;
  padding: 90px 0;
  overflow: hidden;
  position: relative;
}

.section-title_theme_dark, .section-subtitle_theme_dark, .table_theme_dark {
  color: white;
}

.table__cell_theme_dark {
  width: 200px;
  margin-top: 80px;
  z-index: 1;
}

.kaufman__triangle {
  position: absolute;
  right: -210px;
  top: 0;
  animation: rotation 20s infinite linear;
}