.khan {
    background-color: #f2f2f2;
    padding-top: 100px;
}

.khan__container {
    width: 80%;
    margin: auto;
}

.khan__author {
    margin: 0;
    line-height: 42px;
    font-size: 30px;
}

.khan__title {
    margin: 0;
    line-height: 1.15;
    font-size: 60px;
    font-weight: bold;
}

.khan__quote {
    width: 790px;
    margin: 50px 0 36px 0;
    line-height: 34px;
    font-size: 24px;
}

.khan__quote-author {
    margin: 0;
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
}

.khan__quote-author-subline {
    margin: 10px 0 68px 0;
    line-height: 1.15;
    font-size: 24px;
}

.khan__book-container {
    display: flex;
    align-items: flex-start;
}

.khan__book-pic {
    width: 620px;
    height: 608px;
    margin-right: 48px;
}

.khan__buy-link {
    color: #2f80ed;
    line-height: 42px;
    font-size: 30px;
}